*.csproj.user


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store

otel-cpp-starter/.DS_Store

otel-cpp-starter/build

otel-cpp-starter/oatpp/

otel-cpp-starter/opentelemetry-cpp/

otel-cpp-starter/otel-cpp/.DS_Store
otel-cpp-starter/otel-cpp/include/

otel-cpp-starter/roll-dice/build/

otel-cpp-starter/otel-cpp/lib/.DS_Store
otel-cpp-starter/otel-cpp/lib/cmake/.DS_Store
otel-cpp-starter/otel-cpp/lib/pkgconfig

